body{
    font-family: 'Montserrat', sans-serif;
}


header {
    background: #BBBBBB;
}

.box{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    margin: 0 0 0 15px;
    display: inline;
}

nav a{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    color: #000000;
}

nav a:hover{
    color: #C78C19;
    text-decoration: underline;
}

.catalogue{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}


.catalogue li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.catalogue li:hover{
    border-color: #C78C19;
}

.catalogue li:active{
    border-color: #088C19;
}

.catalogue li:hover h2{
    font-size: 34px;
}

.catalogue h2{
    font-size: 30px;
    font-weight: bold;
}

.catalogueInfo{
    font-size: 18px;
    
}

.cataloguePrice{
    font-weight: bold;
    margin-top: 10px;
    font-size: 22px;
}

.footer {
    text-align: center;
    padding: 40px 0;
    background: url("../img/bg.jpg")
}

.copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}

main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px
}

.enviar{
    width: 40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover{
    background: darkorange;
    transform: scale(1.2);
}

table {
    margin: 20px 40px;
}

thead {
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th{
    border: 1px solid #000000;
    padding: 15px 8px;
}

.banner{
    width: 100%;
}

.mainTitle{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.principal p {
    margin: 0 0 1em;
}

.principal strong{
    font-weight: bold;
}

.principal em{
    font-style: italic;
}

.utensilios{
    width: 120px;
    float: left;
    margin:  0 20px 20px 0;
}

.mapa{
    padding: 3em 0;
}

.mapa p{
    margin: 0 0 2em;
    text-align: center;
}

.benefits{
    padding: 3em 0;
}

.benefitsContent{
    width: 640px;
    margin: 0 auto;

}

.benefitsList{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.itens{
    line-height: 1.5;
}

.itens:first-child{
    font-weight: bold;
}

.benefitsImage{
    width: 60%;
}

.video{
    width: 560px;
    margin: 2em auto;
}
